* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
/* .App .login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/public/assets/Doctor.jpg);
} */
.main-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.workspace-container {
  overflow: auto;
}
